// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
// Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
  margin: 0;
  outline-width: 0;
  border-width: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--very-dark-cyan);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
  margin-block: 1.5rem;
}

picture,
img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: underline;
}
