@use 'sass:map';
@use '../../variables/breakpoints';

.company-profile {
  display: block;
}

.company-profile__logo {
  display: block;
  width: 8em;
  margin-block: 2em;

  @media screen and (min-width: map.get(breakpoints.$breakpoints, 'tablet')) {
    width: 16em;
  }
}

.company-profile__contact-list {
  margin-block: 1.5em;
}

.company-profile__contact-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2em;
  margin-block: 1.5em;
}
